[Desktop Entry]
Name=Network Center
Exec=/usr/bin/draknetcenter
Icon=/usr/share/mcc/themes/default/netcenter.png
Type=Application
Categories=System;Network
StartupNotify=true
