[Desktop Entry]
Name=NetApplet
Comment=Network monitoring applet
Exec=/usr/bin/net_applet --force
Icon=/usr/share/libDrakX/pixmaps/connected.png
Type=Application
Categories=GTK;X-MandrivaLinux-System-Monitoring;System;Monitor;
X-KDE-autostart-after=kdesktop
